

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.linked {
	background-color: gray;
	width:350px;
	height:160px;
	display: block;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.linked h3 {
	float:left;
	margin:0px 3px 0px 0px;
	width: 220px;
	height:34px;
	overflow: hidden;
}
.linked p {
	margin:0 3px 0 0;
	width:220px;
	height:82px;
	overflow: hidden;
}
.linked .btn {
	width:100%;
}
.linkedImg {
	width: 101px;
	height: 101px;
	background-color: white;
	margin:10px;
	float:left;
}
footer {
	padding-top: 10px;
	clear:both;
}
