<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        {% if not user.is_anonymous() %}
                        <ul class="nav">
                            <a href="#filtER" role="button" data-toggle="modal" type="submit" class="btn filteron"><i class="icon-filter"></i> filter</a>
                            <a href="#addData" role="button" data-toggle="modal" type="submit" class="btn"><i class="icon-plus-sign"></i> add</a>
                            <a href="#setTINGS" role="button" data-toggle="modal" type="submit" class="btn"><i class="icon-wrench"></i> settings</a>
                        </ul>
                        <form class="navbar-form pull-right">
                            <a href="#signOUT" role="button" data-toggle="modal" type="submit" class="btn"><i class="icon-remove-circle"></i> sign out</a>
                        </form>
                        {% else %}
                        <ul class="nav">
                            <li class="btn filteron"><i class="icon-filter"></i> filter</li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <a href="#signIN" role="button" data-toggle="modal" type="submit" class="btn"><i class="icon-wrench"></i> Settings</a>
                        </form>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container filterIT" style="display:none;">
            <div class="row-fluid">
                <div class="span4">
                    <form class="form-search">
                      <input type="text" class="input-medium search-query">
                      <button type="submit" class="btn">Search</button>
                    </form>
                </div>
                <div class="span8">
                    <ul class="nav nav-pills">
                        <li class="disabled"><a href="#">Filter by:</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Fun</a></li>
                        <li><a href="#">Wage</a></li>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">Internal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">

            {% for card in cards %}
            <div class="linked span4">
                <div class="linkedImg img-rounded"><img src="{{ card.icon_url }}"></div>
                <!--<div class="linkedImg img-rounded"><img src="{{ url_for('static', filename='apple-touch-icon-114x114-precomposed.png') }}"></div>-->
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p>
                {% if user.is_anonymous() %}
                <a href="{{ card.url }}"><button class="btn btn-inverse pull-left" style="width:100%;" type="button">Go to {{ card.title }}</button></a>
                {% else %}
                <button class="btn btn-inverse pull-left" style="width:90%;" type="button">Default button</button> <button class="btn btn-inverse pull-right" style="width:10%;" type="button"><i class="icon-edit icon-white"></i></button>
                {% endif %}
            </div>
            {% endfor %}

            <footer>
                <p></p>
            </footer>

        </div> <!-- /container -->

        {% if user.is_anonymous() %}
        <!-- signIN -->
        <div id="signIN" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Sign In</h3>
            </div>
            <div class="modal-body signIN">
                <form class="form-inline" method="POST" action="{{ url_for('login') }}">
                    {{ login_form.csrf_token }}
                    {{ login_form.email }}
                    {{ login_form.password }}
                    <button type="submit" class="btn">Sign in</button>
                    <label class="checkbox">
                    {{ login_form.remember }}
                    </label>
                    <a style="margin-left:110px;" href="#">Forgot your password?</a>
                </form>
            </div>
        </div>
        {% else %}
        <!-- addData -->
        <div id="addData" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Add a Link</h3>
            </div>
            <form method="POST" action="{{ url_for('newlink') }}">
                <div class="modal-body">
                    <fieldset>
                        {{ link_form.csrf_token }}
                        <label>Link Title:</label>
                        {{ link_form.title(placeholder='Title name') }}
                        <label>Link URL:</label>
                        {{ link_form.url(placeholder="http://") }}
                        <label>Image: (100px x 100px)</label>
                        {{ link_form.image(class_='btn btn-info') }}
                        <label>Paragraph Area:</label>
                        {{ link_form.description(rows=5) }}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-primary">Add Link</button>
                </div>
            </form>
        </div>

        <!-- setTINGS -->
        <div id="setTINGS" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Setting</h3>
            </div>
            <form method="POST" action="{{ url_for('settings') }}">
                <div class="modal-body">
                    <fieldset>
                        {{ settings_form.csrf_token }}
                        <label>Email: </label>
                        {{ settings_form.email }}
                        <label>Password: </label>
                        {{ settings_form.password }}
                        <label>Confirm: </label>
                        {{ settings_form.confirm }}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

        <!-- signOUT -->
        <div id="signOUT" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Sign Out</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Yes</a>
            </div>
        </div>
        {% endif %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
        <script type="text/javascript">window.alert('{{ message }}');</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
